body{
  background-color: #c943db;;
  color: #303030;
  font-family: 'Segoe UI';
  text-align: center;
  
}
h1{
  text-decoration: underline;
  text-align: center;
  
}
button{
  background-color: #f21897;
  color: #303030;
  font-family: 'Segoe UI';
  border: ;
  padding: 15px;

  font-size: 16px;
 
  
}
#quote{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
