#red{
  text-align: center;
  background-color: red;
  
}
#green{
  background-color: green;
}
#blue{
  background-color: blue;
}
body{
  text-align: center;
}
button{
  margin: 10px;
  height:50px ;
  width: 100px;
  border-radius: 50px;
}
